In [1]:
import json

In [2]:
json.loads("""
{"foo": 12,
 "bar": [1,2,3]}
""")

{'foo': 12, 'bar': [1, 2, 3]}

In [3]:
data = json.loads("""
{"foo": 12,
 "bar": [1,2,3]}
""")

In [4]:
type(data)

dict

In [6]:
print(json.dumps(data, indent=2))

{
  "foo": 12,
  "bar": [
    1,
    2,
    3
  ]
}

In [7]:
import pandas
import io

In [8]:
sio = io.StringIO(json.dumps(data, indent=2))

In [10]:
pandas.read_json(sio)

   foo  bar
0   12    1
1   12    2
2   12    3

In [11]:
from pymongo import MongoClient

In [12]:
import datetime

In [13]:
c = MongoClient('localhost', 27017)

In [14]:
c

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [15]:
music = c.stkinf19.music

In [16]:
music

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'stkinf19'), 'music')

In [17]:
jackson = {
    'name': {'first': 'Michael',
             'last': 'Jackson',
             'middle': 'Joseph'},
    'born': datetime.datetime(1958, 8, 29),
    'died': datetime.datetime(2009, 6, 25),
    'albums': [{'name': "Thriller",
                'released': 1982},
               {'name': 'Bad',
                'released': 1987}]
}

In [18]:
result = music.insert_one(jackson)

In [20]:
result.acknowledged

True

In [21]:
music.find()

In [22]:
for item in music.find():
    print(item)

{'_id': ObjectId('5d8c68e2716bb92f1809c4d6'), 'name': {'first': 'Michael', 'last': 'Jackson', 'middle': 'Joseph'}, 'born': datetime.datetime(1958, 8, 29, 0, 0), 'died': datetime.datetime(2009, 6, 25, 0, 0), 'albums': [{'name': 'Thriller', 'released': 1982}, {'name': 'Bad', 'released': 1987}]}

In [23]:
for item in music.find().limit(10):
    print(item)

{'_id': ObjectId('5d8c68e2716bb92f1809c4d6'), 'name': {'first': 'Michael', 'last': 'Jackson', 'middle': 'Joseph'}, 'born': datetime.datetime(1958, 8, 29, 0, 0), 'died': datetime.datetime(2009, 6, 25, 0, 0), 'albums': [{'name': 'Thriller', 'released': 1982}, {'name': 'Bad', 'released': 1987}]}

In [24]:
result.inserted_id

ObjectId('5d8c68e2716bb92f1809c4d6')

In [25]:
music.find_one(result.inserted_id)

{'_id': ObjectId('5d8c68e2716bb92f1809c4d6'),
 'name': {'first': 'Michael', 'last': 'Jackson', 'middle': 'Joseph'},
 'born': datetime.datetime(1958, 8, 29, 0, 0),
 'died': datetime.datetime(2009, 6, 25, 0, 0),
 'albums': [{'name': 'Thriller', 'released': 1982},
  {'name': 'Bad', 'released': 1987}]}

In [27]:
music.find_one({'born': datetime.datetime(1958, 8, 29)})

{'_id': ObjectId('5d8c68e2716bb92f1809c4d6'),
 'name': {'first': 'Michael', 'last': 'Jackson', 'middle': 'Joseph'},
 'born': datetime.datetime(1958, 8, 29, 0, 0),
 'died': datetime.datetime(2009, 6, 25, 0, 0),
 'albums': [{'name': 'Thriller', 'released': 1982},
  {'name': 'Bad', 'released': 1987}]}

In [28]:
music.find_one({'albums.released': {'$gt': 1980}})

{'_id': ObjectId('5d8c68e2716bb92f1809c4d6'),
 'name': {'first': 'Michael', 'last': 'Jackson', 'middle': 'Joseph'},
 'born': datetime.datetime(1958, 8, 29, 0, 0),
 'died': datetime.datetime(2009, 6, 25, 0, 0),
 'albums': [{'name': 'Thriller', 'released': 1982},
  {'name': 'Bad', 'released': 1987}]}

In [31]:
music.find_one({'name.last': 'Jackson'})

{'_id': ObjectId('5d8c68e2716bb92f1809c4d6'),
 'name': {'first': 'Michael', 'last': 'Jackson', 'middle': 'Joseph'},
 'born': datetime.datetime(1958, 8, 29, 0, 0),
 'died': datetime.datetime(2009, 6, 25, 0, 0),
 'albums': [{'name': 'Thriller', 'released': 1982},
  {'name': 'Bad', 'released': 1987}]}

In [32]:
bowie = {
    'name': {'first': 'David',
             'last': 'Bowie',
             'middle': 'Robert'},
    'born': datetime.datetime(1049, 8, 29)
}

In [33]:
music.insert_one(bowie)

In [34]:
for item in music.find().limit(10):
    print(item)

{'_id': ObjectId('5d8c68e2716bb92f1809c4d6'), 'name': {'first': 'Michael', 'last': 'Jackson', 'middle': 'Joseph'}, 'born': datetime.datetime(1958, 8, 29, 0, 0), 'died': datetime.datetime(2009, 6, 25, 0, 0), 'albums': [{'name': 'Thriller', 'released': 1982}, {'name': 'Bad', 'released': 1987}]}
{'_id': ObjectId('5d8c6a61716bb92f1809c4d7'), 'name': {'first': 'David', 'last': 'Bowie', 'middle': 'Robert'}, 'born': datetime.datetime(1049, 8, 29, 0, 0)}

In [35]:
music.update_one({'name.last': 'Bowie'},
                 {'$set': {'albums': []}})

In [36]:
music.find_one({'name.last': 'Bowie'})

{'_id': ObjectId('5d8c6a61716bb92f1809c4d7'),
 'name': {'first': 'David', 'last': 'Bowie', 'middle': 'Robert'},
 'born': datetime.datetime(1049, 8, 29, 0, 0),
 'albums': []}

In [37]:
music.update_one({'name.last': 'Bowie'},
                 {'$push': {'albums': {'name': "Let's Dance", 'released': 1983}}})

In [38]:
music.find_one({'name.last': 'Bowie'})

{'_id': ObjectId('5d8c6a61716bb92f1809c4d7'),
 'name': {'first': 'David', 'last': 'Bowie', 'middle': 'Robert'},
 'born': datetime.datetime(1049, 8, 29, 0, 0),
 'albums': [{'name': "Let's Dance", 'released': 1983}]}